code {
    padding: 1px;
    background-color: #eee;
    color: crimson;
    border-radius: 2px;
}

.caixa {
    padding: 5px;
    background-color: #444;
    color: #fff;
    border-left: 4px solid crimson;
}

#nissan-gtr {
    width: 400px;
}

table, th, td {
    border: solid 1px black;
}

th, td {
    padding: 10px;
    text-align: center;
}